* {
    box-sizing: border-box;
}

:root, [data-bs-theme=dark] {
    color-scheme: dark;
    --bs-primary: #6610f2 !important;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh; /* Occupa l'altezza completa della finestra */
    max-height: 100vh; /* Occupa l'altezza completa della finestra */
    background: url(./images/bg.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 680px;
    min-height: 380px;
    position: relative; /* necessario per il posizionamento assoluto dei figli */
}

.folder-selection {
}

body > div {
    flex-shrink: 0; /* Per non farli ridurre */
    margin: 0;
    padding: 10px;
    min-height: 40px;
    padding-bottom: 0;
    flex-grow: 0;
}

body > div#div-footer {
    padding: 0 10px;
}
body > div#div-filters2 {
    padding-top: 4px;
}
body > div#div-filters3 {
    padding-top: 0;
}
body > div#div-controls {
    padding-top: 0;
}

#file-tree {
    height: unset;
    min-height: 150px;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    flex-grow: 1;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    overflow: auto;
    max-height: calc(100vh - 225px);
}

.footer {
    display: flex;
    justify-content: space-between;
}

#status {
    color: #aaaaaa;
    font-size: 0.75em;
    padding-top: 2px;
    max-width: 80%;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
    padding-left: 20px;
}

#file-tree > ul, #file-tree > ul > li {
    padding-left: 0;
}

#file-tree .label-extras-date {
    margin-left: 10px;
    font-size: 0.8em;
    color: var(--bs-primary);
}

#file-tree .label-extras-size {
    margin-left: 5px;
    font-size: 0.8em;
    color: #2e10f2;
}

.controls {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.folder-selection a.first-col {
    width: 110px;
    text-align: left;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6610f2;
    --bs-btn-border-color: #6610f2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #620fe8;
    --bs-btn-hover-border-color: #620fe8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #620fe8;
    --bs-btn-active-border-color: #620fe8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6610f2;
    --bs-btn-disabled-border-color: #6610f2;
}

.form-check-input:checked {
    background-color: #6610f2;
    border-color: #6610f2;
}

.form-control {
    padding: 4px 0.75rem 3px 0.75rem;
    color: #8f8f8f !important;
    font-size: 0.80em;
    background-color: rgba(0, 0, 0, 0.65);
}

::placeholder {
    color: #8f8f8f !important;
    opacity: 1; /* Firefox */
}

#addNamePlusFilter, #addNameMinusFilter, #addDatePlusFilter, #addDateMinusFilter,
#addSizePlusFilter, #addSizeMinusFilter, #deselectAll, #collapseAll {
    margin-left: 1px;
}

.span-settings .form-check {
    margin-left: 15px;
}

.span-settings {
    padding-top: 4px;
    font-size: 0.90em;
    flex-grow: 1;
    text-align: center;
}

.form-check {
    display: inline-block;
}

#destinationList ul, #destinationList ul li {
    padding-left: 0;
    list-style: none;
}

.form-check-input {
    cursor: pointer;
}

.a-filter, .span-list {
    cursor: default;
}

.span-list {
    user-select: none;
}

.filter-plus {
    background-color: #8510f2 !important;
}

.filter-minus {
    background-color: #2e10f2 !important;
}

#filterNameInput {
    width: 230px;
    flex: 0 1 auto;
    appearance: auto;
}

#filterDateInput {
    width: 230px;
    flex: 0 1 auto;
    appearance: auto;
}

#filterSizeInput {
    width: 160px;
    flex: 0 1 auto;
    appearance: auto;
}

#filterSizeSelect {
    width: 70px;
    flex: 0 1 auto;
}
#filterDateView, #filterSizeView {
    width: 180px;
    flex: 0 1 auto;
}
/* Modal */
body > div.modal {
    flex-shrink: unset;
    padding: unset;
}

#modalTrigger {
    display: none;
}

.modal-header {
    padding: 5px 10px;
}

.modal-footer {
    padding: 5px;
}

#helpModal .modal-title {
    font-size: 1.4em;
}

#helpContentMD {
    font-size: 0.85em;
}

#helpContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

#helpContentMD p {
    margin-bottom: 2rem;
}

#helpContentMD ul {
    list-style: unset;
}

#helpContentMD li {
    margin: unset;
    padding-left: unset;
}

#helpContentMD a {
    text-decoration: none;
    color: #863efa;
}

/* Overlay che copre tutta la pagina */
body > div#spinner-overlay {
    flex-shrink: unset;
    height: unset;
    padding: unset;
}

#spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5); /* sfondo nero trasparente */
    display: none; /* nascosto per default */
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10000;
}

/* Spinner animato */
#spinner {
    background-image: url(./images/80x80_2cols.svg);
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
