/* General */
* {
    box-sizing: border-box;
}

:root, [data-bs-theme=dark] {
    color-scheme: dark;

    /* copyman skin */
    /* main */
    --copyman-primary: #6610f2;
    --copyman-primary-irgb: 102, 16, 242;
    --copyman-secondary: #620fe8;
    --copyman-tertiary: #9e68ff;
    --copyman-quaternary: #8510f2;
    --copyman-quinquinary: #4225ff;
    --copyman-different: #ee0000;

    /* bgs */
    --copyman-bg-rgb:rgba(102, 16, 242, 1);
    --copyman-bg-alt-rgb: rgba(46, 16, 242, 1);
    --copyman-bg-black-dark-rgb: rgba(0, 0, 0, 0.65);
    --copyman-bg-black-low-rgb: rgba(0, 0, 0, 0.3);
    --copyman-bg-black-mid-rgb: rgba(0, 0, 0, 0.5);

    /* neutrals */
    --copyman-white: #ffffff;
    --copyman-almostwhite: #eeeeee;
    --copyman-quitewhite: #dddddd;
    --copyman-gray: #8f8f8f;
    --copyman-gray-transparent: #99999944;
    --copyman-gray-mid: #aaaaaa;
    --copyman-gray-light: #DEE2E6;
    --copyman-gray-dark: #495057;

    /* common */
    --copyman-bg-shadow-rgb: 0,0,0;
    --copyman-bg-focus-shadow-rgb: 49, 132, 253;
    --copyman-bg-opacity-shadow: 0.125;
    --copyman-border-width: 1px;

    /* dependent */
    --copyman-border-color: var(--copyman-gray-dark);

    --copyman-bg-filter-minus: var(--copyman-quinquinary);
    --copyman-bg-filter-plus: var(--copyman-tertiary);
    --copyman-bg-dest-first: var(--copyman-quaternary);

    --copyman-modal-title-border-color: var(--copyman-gray-light);

    --copyman-text-status: var(--copyman-gray-mid);
    --copyman-text-label-size: var(--copyman-quinquinary);
    --copyman-text-folder-name: var(--copyman-white);
    --copyman-bg-folder-source-name: var(--copyman-secondary);
    --copyman-bg-folder-dest-name: var(--copyman-quaternary);
    --copyman-text-label-different: var(--copyman-different);
    --copyman-text-form: var(--copyman-gray);
    --copyman-text-option: var(--copyman-quitewhite);
    --copyman-text-white: var(--copyman-white);

    --copyman-link-text: var(--copyman-tertiary);
    --copyman-collapse-filters: var(--copyman-tertiary);
    --copyman-zip-text: var(--copyman-tertiary);
    --copyman-explain-text: var(--copyman-tertiary);
    --copyman-queue-text: var(--copyman-tertiary);

    --copyman-checkbox-bg-checked: var(--copyman-primary);
    --copyman-checkbox-border-checked: var(--copyman-primary);

    --copyman-navpills-active-bg: var(--copyman-primary);
    --copyman-navpills-active-text: var(--copyman-white);
    --copyman-navpills-label-text: var(--copyman-tertiary);
    --copyman-navpills-label-text-hover: var(--copyman-almostwhite);

    --copyman-noui-bg-connect: var(--copyman-primary);
    --copyman-noui-bg-handle: var(--copyman-almostwhite);
    --copyman-noui-border-handle: var(--copyman-quitewhite);
    --copyman-noui-bg-target: var(--copyman-gray-transparent);

    /* bs */
    --bs-primary: var(--copyman-tertiary);
    --bs-primary-rgb: var(--copyman-primary-irgb);
}

.bg-copyman {
    background-color: var(--copyman-bg-rgb) !important;
}

.bg-copyman-alt {
    background-color: var(--copyman-bg-alt-rgb) !important;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh; /* full window height */
    max-height: 100vh; /* full window height */
    background: url(./images/bg.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 850px;
    min-height: 500px;
    position: relative; /* needed for children absolute positioning */
}

.folder-selection {
}

.hidden {
    display: none !important;
}

.opDisabled {
    opacity: 0.5;
}

.text-right {
    text-align: right;
}

.btn-primary {
    --bs-btn-color: var(--copyman-text-white);
    --bs-btn-bg: var(--copyman-primary);
    --bs-btn-border-color: var(--copyman-primary);
    --bs-btn-hover-color:var(--copyman-text-white);
    --bs-btn-hover-bg: var(--copyman-secondary);
    --bs-btn-hover-border-color: var(--copyman-secondary);
    --bs-btn-focus-shadow-rgb: var(--copyman-bg-focus-shadow-rgb);
    --bs-btn-active-color: var(--copyman-text-white);
    --bs-btn-active-bg: var(--copyman-secondary);
    --bs-btn-active-border-color: var(--copyman-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--copyman-bg-shadow-rgb), var(--copyman-bg-opacity-shadow));
    --bs-btn-disabled-color: var(--copyman-text-white);
    --bs-btn-disabled-bg: var(--copyman-primary);
    --bs-btn-disabled-border-color: var(--copyman-primary);
}

/* First level layouting */
body > div {
    flex-shrink: 0; /* to not shrink */
    margin: 0;
    padding: 10px 10px 0 10px;
    min-height: 40px;
    flex-grow: 0;
}

body > div#div-destinations {
    padding-top: 4px;
}

body > div#div-footer {
    padding: 0 10px;
}

body > div#div-filters-collapse {
    height: 15px !important;
    padding: 0 0 0 10px;
    text-align: right;
    flex-shrink: 1;
    line-height: 15px;
    margin-top: -7px;
    margin-bottom: -25px;
}

body > div#div-filters2 {
    padding-top: 4px;
}

body > div#div-filters3 {
    padding-top: 0;
    margin-top: -1px;
}
body > div#div-filters4 {
    padding-top: 0px;
    margin-top: -5px;
}

#div-tree {
    height: unset;
    min-height: 150px;
    font-size: 0.85em;
    background-color: var(--copyman-bg-black-dark-rgb);
    border-radius: 10px;
    flex-grow: 1;
    margin: 10px 10px 10px 10px;
    padding: 0;
    overflow: auto;
    max-height: calc(100vh - 344px);
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
}
#source-tree, #dest-tree {
    padding: 10px;
    height: inherit;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
    background-image: url(./images/vertical.png);
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter-col-1 {
    grid-column: 2;
}

.footer {
    display: flex;
    justify-content: space-between;
}

#div-tree.expanded {
    max-height: calc(100vh - 189px);
}

#div-controls.expanded {

}

/* Footer */
#status {
    color: var(--copyman-text-status);
    font-size: 0.75em;
    padding-top: 2px;
    max-width: 65%;
    z-index: 1001; /* over #spinner-overlay but under bootrap modals */
}

.footer > div {
    position: relative;
}

#abortCopy {
    position: absolute;
    right: 0;
    z-index: 1099; /* over #spinner-overlay and over bootrap modals */
    min-width: 180px;
}

#previewCheckedContainer {
    display: inline-block;
    margin: 0 8px 0 0;
}

#previewCheckedContainer label {
    font-size: 0.85em;
}

/* Tree */
ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
    padding-left: 20px;
}

#source-tree > ul, #source-tree > ul > li,
#dest-tree > ul, #dest-tree > ul > li {
    padding-left: 0;
}

#source-tree .label-extras-date,
#dest-tree .label-extras-date {
    margin-left: 10px;
    font-size: 0.8em;
    color: var(--bs-primary);
}

#source-tree .label-extras-size,
#dest-tree .label-extras-size {
    margin-left: 5px;
    font-size: 0.8em;
    color: var(--copyman-text-label-size);
}

.tree-folder-name {
    display: inline-block;
    border-radius: 5px;
    padding: 1px 8px;
    color: var(--copyman-text-folder-name);
    font-size: 0.9em;
}

#source-tree .tree-folder-name {
    background:var(--copyman-bg-folder-source-name);
}

#dest-tree .tree-folder-name {
    background: var(--copyman-bg-folder-dest-name);
}

/*
.check-node .node-source|.node-destination  .node-different|.node-same .node-exists|.node-missing
.label-node .node-source|.node-destination  .node-different|.node-same .node-exists|.node-missing
.ul-node .node-source|.node-destination  .node-different|.node-same .node-exists|.node-missing
*/
.label-node.node-missing {
    opacity: 0.5;
}
.label-node.node-different > span:nth-child(n+2) {
    color: var(--copyman-text-label-different) !important;
}

/* Actions */
.controls {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* Folders */
.folder-selection a.first-col {
    width: 110px;
    text-align: left;
}

.form-check-input:checked {
    background-color: var(--copyman-checkbox-bg-checked);
    border-color: var(--copyman-checkbox-border-checked);
}

.form-control {
    padding: 4px 0.75rem 3px 0.75rem;
    color: var(--copyman-text-form) !important;
    font-size: 0.80em;
    background-color: var(--copyman-bg-black-dark-rgb);
}

.form-check-inline {
    min-width: 150px;
}

::placeholder {
    color: var(--copyman-text-form) !important;
    opacity: 1; /* Firefox */
}

/* Button group margin */
#addNamePlusFilter, #addNameMinusFilter,
#addDatePlusFilter, #addDateMinusFilter,
#addSizePlusFilter, #addSizeMinusFilter,
#addDiffsPlusFilter, #addDiffsMinusFilter,
#deselectAll, #collapseAll,
#exportSnapshot, #clearSource {
    margin-left: 1px;
}

/* Automation Modal */
.snapshot-buttons {
    width: 48px;
}
.snapshot-buttons2 {
    width: 32px;
}
.custom-popover {
    --bs-popover-max-width: 400px;
    --bs-popover-border-color: var(--copyman-primary);
    --bs-popover-header-bg: var(--copyman-primary);
    --bs-popover-header-color: var(--copyman-text-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-header-padding-x: 0.5rem;
    --bs-popover-header-padding-y: .5rem;
    --bs-popover-header-font-size: 0.75rem;
    font-size: 0.75em;
    padding: 0;
}
.custom-popover b {
    color: var(--copyman-link-text);
}
.snapshot-explain {
    font-size: 0.85em;
    padding-bottom: 20px;
}

.snapshot-explain h5 {
    margin-bottom: 10px;
    color: var(--copyman-explain-text);
    font-size: 1.2em;
}

.snapshot-explain i {
    font-size: 0.85em;
}

#queueList {
    min-height: 30px;
    font-size: 0.80em;
}

#queueList p {
    color: var(--copyman-queue-text);
}

.queue-item {
    background: var(--copyman-bg-black-low-rgb);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px !important;
    padding: 0 0 0 10px;
    border: 1px solid var(--copyman-border-color);
    border-radius: 5px;
}

.queue-item span {
    flex: 1;
}

.queue-item button:nth-child(n+2) {
    margin-left: 1px !important;
}

#addToQueue {
    width: 97px;
}

/* Form elements */
.span-actions {
    flex-grow: 1;
    text-align: center;
}

.form-check {
    display: inline-block;
    margin-left: 15px;
}

#destinationList ul, #destinationList ul li {
    padding-left: 0;
    list-style: none;
}

.form-check-input {
    cursor: pointer;
}

.form-select-sm {
    font-size: 0.80em;
    background-color: var(--copyman-bg-black-dark-rgb);
    color: var(--copyman-text-form) !important;
}

.a-filter, .span-list {
    cursor: default;
}

.span-list {
    user-select: none;
}

.filter-plus {
    background-color: var(--copyman-bg-filter-plus) !important;
}

.filter-minus {
    background-color: var(--copyman-bg-filter-minus) !important;
}

#filterNameInput {
    width: 220px;
    flex: 0 1 auto;
    appearance: auto;
}
#filterDiffsInput {
    width: 220px;
    flex: 0 1 auto;
    padding-left: 10px;
}
#filterDateInput {
    width: 220px;
    flex: 0 1 auto;
    appearance: auto;
}

#filterDateInput .input-group-text {
    padding: 0 5px;
    font-size: 0.80em;
}

#slider-range {
    width: 200px;
    flex: 0 1 auto;
    appearance: auto;
    z-index: 900;
    padding: 0 10px;
}

#slider-view {
    width: 245px;
    flex: 0 1 auto;
}

#slider-view input {
    position: relative;
    width: 86px;
    display: inline-block;
    padding: 0 1px 0 10px;
    border-radius: 0;
}

#slider-view .input-group-text {
    padding: 0 5px;
    font-size: 0.80em;
    border-radius: 0;
}

#sortOrderCombo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#div-filters-collapse a {
    color: var(--copyman-collapse-filters);
    border: none;
    border-radius: 0;
    padding: 1px 0 1px 5px;
    margin-top: 0;
    margin-right: 10px;
}
#div-filters-collapse a span {
    display: inline-block;
    font-size: 0.65em;
    padding-top: 0;
    margin-top: -2px;
}
#div-filters-collapse a i {
    padding-top: 0;
    margin-top: 0;
}
.form-select option {
    color: var(--copyman-text-option);
}

.badge {
    font-size: 0.80em;
    padding: 4px 4px 3px 4px;
}

.badge.badge-outer {
    font-size: 0.9em;
    padding: 4px 12px 5px 6px;
    margin-top: 1px;
}

.badge-dest:first-of-type {
    background: var(--copyman-bg-dest-first) !important;
}

#selectionStats {
    display: inline-block;
    font-size: 0.80em;
    padding: 3px 5px;
    min-width: 240px;
    text-align: right;
}

/* Modals */
#modalSnapshotTrigger, #modalOptionsTrigger {
    margin-left: 10px;
}

body > div#div-modals {
    flex-shrink: unset;
    padding: unset;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-header {
    padding: 5px 10px;
}

.modal-footer {
    padding: 5px;
}

.modal-title {
    font-size: 1.2em;
}

.modal-title img {
    height: 19px;
    border-right: 1px solid var(--copyman-modal-title-border-color);
    padding-right: 7px;
}

.modal h6 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

#optionsModal .container-fluid {
    padding-left: 0;
}

#snapshotModal .input-group {
    margin-bottom: 1.5rem;
}

#snapshotModal .modal-body {
    padding-bottom: 0;
}

.nav-link {
    display: block;
    padding: 5px 10px;
    color: var(--copyman-navpills-label-text);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-pills .nav-link {
    min-width: 130px;
    text-align: left;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--copyman-navpills-active-text);
    background-color: var(--copyman-navpills-active-bg);
}

.nav-link:focus, .nav-link:hover {
    color: var(--copyman-navpills-label-text-hover);
}

#v-pills-tab {
    width: 120px;
}

#v-pills-tabContent {
    width: calc(100% - 120px);
}

#v-pills-tabContent .form-check {
    min-width: 180px;
}
#v-pills-tabContent #v-pills-04 .form-check, #v-pills-tabContent #v-pills-05 .form-check {
    min-width: 200px;
}

.consistent-height.tab-content {
    display: flex;
}

.consistent-height.tab-content > .tab-pane {
    display: block; /* undo "display: none;" */
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
}

.consistent-height.tab-content > .active {
    visibility: visible;
}

#cleanSnapshot, #infoSnapshot {
    margin-left: 1px
}

#helpContentMD, #aboutContentMD, #listContentMD {
    font-size: 0.85em;
}

#helpContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
#aboutContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
#listContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

#helpContentMD p, #aboutContentMD p, #listContentMD p {
    margin-bottom: 2rem;
}

#helpContentMD ul {
    list-style: unset;
}

#helpContentMD li {
    margin: unset;
    padding-left: unset;
}

#helpContentMD a, #aboutContentMD a, #listContentMD a {
    font-weight: bold;
    text-decoration: none;
    color: var(--copyman-link-text);
}

#listFooterTotal {
    position: absolute;
    left: 10px;
}

#listContentMD .table > :not(caption) > * > * {
    padding: .2rem .4rem;
    font-size: 0.85em;
}

#listFooterTotal {
    font-size: 0.85em;
}

.verboseIcon {
    font-size: 4.5em;
    color: var(--copyman-text-white);
}

#copyingReportMD, #verboseProgressMD {
    font-size: 0.75em;
}

#copyingReportMD h6 {
    margin-top: 0;
}

#verboseProgress .verboseSep {
    padding-bottom: 5px;
}

#verboseProgress .progress {
    margin-top: 5px
}

#copyingReport .verboseSep {
    padding-top: 5px;
}

#copySelected img, #executeQueue img {
    height: 16px;
    vertical-align: text-bottom;
}
.form-zip-level {
    width: calc(98% - 110px);
}
.form-zip-output {
    float: right;
    width: 100px;
    overflow: hidden;
    padding-top: 32px;
    color: var(--copyman-zip-text);
    font-size: 0.90em;
}
@media screen and (max-width: 468px){
    .form-zip-level {
        width: 100%;
    }
    .form-zip-output {
        float: none;
        width: unset;
        overflow: unset;
        padding-top: unset;
        display: block;
    }
}
#msCopySpeedChecked {
    width: 80px;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9em;
}
#currentSkinChecked {
    width: 150px;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9em;
}

/* Overlay full screen */
body > div#spinner-overlay {
    flex-shrink: unset;
    height: unset;
    padding: unset;
}

#spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background: var(--copyman-bg-black-mid-rgb); /* black transparent bg */
    display: none; /* hidden by default */
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 990;
}

/* Animated Spinner items*/
#spinner {
    background-image: url(./images/80x80_2cols.svg);
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

#spinner2 {
    background-image: url(./images/80x80_2cols.svg);
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinnerNot {
    background-image: url(./images/80x80_2cols.svg);
    width: 50px;
    height: 50px;
}

/*NoUiSlider*/
#slider-range {
    height: 31px;
}

#slider-range .noUi-connect {
    background: var(--copyman-noui-bg-connect);
}

#slider-range .noUi-handle::before, #slider-range .noUi-handle::after {
    background: unset;
    width: 0;
}

#slider-range .noUi-tooltip {
    display: none;
}

#slider-range .noUi-active .noUi-tooltip {
    display: block;
    font-size: 0.80em;
    padding: 0 0.3rem;
}

#slider-range .noUi-handle-lower {
    right: 0;
}

#slider-range .noUi-handle-upper {
    right: -10px;
}

#slider-range .noUi-handle {
    width: 10px;
    height: 29px;
    top: 0;
    background-color: var(--copyman-noui-bg-handle);
    border: 1px solid var(--copyman-noui-border-handle);
    border-radius: 1px;
    cursor: default;
    box-shadow: unset; /* inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; */
}

.noUi-target {
    background: var(--copyman-noui-bg-target);
    border-radius: 0;
    border: var(--copyman-border-width) solid var(--copyman-border-color);
    box-shadow: unset; /* inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; */
}

