* {
    box-sizing: border-box;
}

:root, [data-bs-theme=dark] {
    color-scheme: dark;
    --bs-primary: #6610f2 !important;
    --bs-primary-rgb: 102, 16, 242;
}

.bg-copyman {
    --bs-bg-opacity: 1;
    background-color: rgba(102, 16, 242, var(--bs-bg-opacity)) !important;
}

.bg-copyman-alt {
    --bs-bg-opacity: 1;
    background-color: rgba(46, 16, 242, var(--bs-bg-opacity)) !important;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh; /* full window height */
    max-height: 100vh; /* full window height */
    background: url(./images/bg.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 850px;
    min-height: 500px;
    position: relative; /* needed for children absolute positioning */
}

.folder-selection {
}

.hidden {
    display: none !important;
}

.text-right {
    text-align: right;
}

body > div {
    flex-shrink: 0; /* to not shrink */
    margin: 0;
    padding: 10px 10px 0 10px;
    min-height: 40px;
    flex-grow: 0;
}

body > div#div-footer {
    padding: 0 10px;
}

body > div#div-filters2 {
    padding-top: 4px;
}

body > div#div-filters3 {
    padding-top: 0;
}

body > div#div-controls {
    padding-top: 0;
}

#file-tree {
    height: unset;
    min-height: 150px;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    padding: 10px;
    overflow: auto;
    max-height: calc(100vh - 295px);
}

.footer {
    display: flex;
    justify-content: space-between;
}

#status {
    color: #aaaaaa;
    font-size: 0.75em;
    padding-top: 2px;
    max-width: 80%;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin: 5px 0;
    padding-left: 20px;
}

#file-tree > ul, #file-tree > ul > li {
    padding-left: 0;
}

#file-tree .label-extras-date {
    margin-left: 10px;
    font-size: 0.8em;
    color: var(--bs-primary);
}

#file-tree .label-extras-size {
    margin-left: 5px;
    font-size: 0.8em;
    color: #2e10f2;
}

.controls {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.folder-selection a.first-col {
    width: 110px;
    text-align: left;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6610f2;
    --bs-btn-border-color: #6610f2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #620fe8;
    --bs-btn-hover-border-color: #620fe8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #620fe8;
    --bs-btn-active-border-color: #620fe8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6610f2;
    --bs-btn-disabled-border-color: #6610f2;
}

.form-check-input:checked {
    background-color: #6610f2;
    border-color: #6610f2;
}

.form-control {
    padding: 4px 0.75rem 3px 0.75rem;
    color: #8f8f8f !important;
    font-size: 0.80em;
    background-color: rgba(0, 0, 0, 0.65);
}

::placeholder {
    color: #8f8f8f !important;
    opacity: 1; /* Firefox */
}

#addNamePlusFilter, #addNameMinusFilter, #addDatePlusFilter, #addDateMinusFilter,
#addSizePlusFilter, #addSizeMinusFilter, #deselectAll, #collapseAll,
#exportSnapshot, #clearSource {
    margin-left: 1px;
}

.snapshot-buttons {
    width: 90px;
}

.span-actions {
    flex-grow: 1;
    text-align: center;
}

.form-check {
    display: inline-block;
    margin-left: 15px;
}

#destinationList ul, #destinationList ul li {
    padding-left: 0;
    list-style: none;
}

.form-check-input {
    cursor: pointer;
}

.form-select-sm {
    font-size: 0.80em;
    background-color: rgba(0, 0, 0, 0.65);
    color: #8f8f8f !important;
}

.a-filter, .span-list {
    cursor: default;
}

.span-list {
    user-select: none;
}

.filter-plus {
    background-color: #8510f2 !important;
}

.filter-minus {
    background-color: #2e10f2 !important;
}

#filterNameInput {
    width: 220px;
    flex: 0 1 auto;
    appearance: auto;
}


#filterDateInput {
    width: 220px;
    flex: 0 1 auto;
    appearance: auto;
}

#filterDateInput .input-group-text {
    padding: 0 5px;
    font-size: 0.80em;
}

#slider-range {
    width: 200px;
    flex: 0 1 auto;
    appearance: auto;
    z-index: 900;
    padding: 0 10px;
}

#slider-view {
    width: 245px;
    flex: 0 1 auto;
}

#slider-view input {
    position: relative;
    width: 86px;
    display: inline-block;
    padding: 0 1px 0 10px;
    border-radius: 0;
}

#slider-view .input-group-text {
    padding: 0 5px;
    font-size: 0.80em;
    border-radius: 0;
}

#sortOrderCombo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-select option {
    color: #dddddd;
}

.badge {
    font-size: 0.80em;
}
.badge.badge-outer {
    font-size: 0.9em;
    padding: 4px 12px 5px 6px;
    margin-top: 1px;
}

/* Modals */
#modalSnapshotTrigger, #modalOptionsTrigger {
    margin-left: 10px;
}

body > div#div-modals {
    flex-shrink: unset;
    padding: unset;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-header {
    padding: 5px 10px;
}

.modal-footer {
    padding: 5px;
}

.modal-title {
    font-size: 1.2em;
}

.modal-title img {
    height: 19px;
    border-right: 1px solid #DEE2E6;
    padding-right: 7px;
}

.modal h6 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

#optionsModal .container-fluid {
    margin-bottom: 1.5rem;
}

#snapshotModal .input-group {
    margin-bottom: 1.5rem;
}

#snapshotModal .modal-body {
    padding-bottom: 0;
}

#cleanSnapshot {
    margin-left: 1px
}

#helpContentMD, #aboutContentMD, #listContentMD {
    font-size: 0.85em;
}

#helpContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
#aboutContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
#listContentMD .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

#helpContentMD p, #aboutContentMD p, #listContentMD p {
    margin-bottom: 2rem;
}

#helpContentMD ul {
    list-style: unset;
}

#helpContentMD li {
    margin: unset;
    padding-left: unset;
}

#helpContentMD a, #aboutContentMD a, #listContentMD a {
    font-weight: bold;
    text-decoration: none;
    color: #863efa;
}

#listFooterTotal {
    position: absolute;
    left: 10px;
}

#listContentMD .table > :not(caption) > * > * {
    padding: .2rem .4rem;
    font-size: 0.85em;
}

.verboseIcon {
    font-size: 4.5em;
    color: #ffffff;
}

#copyingReportMD, #verboseProgressMD {
    font-size: 0.75em;
}

#copyingReportMD h6 {
    margin-top: 0;
}

#verboseProgress .verboseSep {
    padding-bottom: 5px;
}

#verboseProgress .progress {
    margin-top: 5px
}

#copyingReport .verboseSep {
    padding-top: 5px;
}

#copySelected img {
    height: 16px;
    vertical-align: text-bottom;
}

/* Overlay full screen */
body > div#spinner-overlay {
    flex-shrink: unset;
    height: unset;
    padding: unset;
}

#spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5); /* black transparent bg */
    display: none; /* hidden by default */
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 999;
}

/* Animated Spinner items*/
#spinner {
    background-image: url(./images/80x80_2cols.svg);
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

#spinner2 {
    background-image: url(./images/80x80_2cols.svg);
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinnerNot {
    background-image: url(./images/80x80_2cols.svg);
    width: 50px;
    height: 50px;
}

/*NoUiSlider*/
#slider-range {
    height: 31px;
}

#slider-range .noUi-connect {
    background: #6610f2;
}

#slider-range .noUi-handle::before, #slider-range .noUi-handle::after {
    background: unset;
    width: 0;
}

#slider-range .noUi-tooltip {
    display: none;
}

#slider-range .noUi-active .noUi-tooltip {
    display: block;
    font-size: 0.80em;
    padding: 0 0.3rem;
}

#slider-range .noUi-handle-lower {
    right: 0;
}

#slider-range .noUi-handle-upper {
    right: -10px;
}

#slider-range .noUi-handle {
    width: 10px;
    height: 29px;
    top: 0;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 1px;
    cursor: default;
    box-shadow: unset; /* inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; */
}

.noUi-target {
    background: #99999944;
    border-radius: 0;
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: unset; /* inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; */
}

